.nav {
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: blueviolet;
    margin: 0;
    font-size: 40px;
    
}
h1 a {
    color: blueviolet;
    text-decoration: none;
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5%;
}
.nav li {
  padding-left: 15px;
  padding-right: 15px;

}
.nav li a{
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}
.nav .search {
    margin-top: 5px;
    display: flex;
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .search input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: 0px;
    height: 40px;
}
.nav .search button {
    
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: 0px;
    height: 43px;
}
.suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: white;
    width: 554px;
    top: 11px;
    border: 1px solid #ddd;
}
.suggested-result li{
    border: 1px solid #ddd;
    padding: 5px;
}
.suggested-result a{
    cursor: pointer;
    color: blueviolet;
}